<%#
  Fill with code allowing admins to edit user attributes
  e.g. Name, Department, Days of leave allowed, Roles
%>

<html>
  <head>
  </head>

  <body>
    <header>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">Saltyleave</li>
            <li class="menu-text">Current User: <%= current_user.name %></li>
          </ul>
        </div>

        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="/leave_applications">View Leave Applications</a></li>
            <li><a href="/leave_applications/new">Apply for Leave</a></li>
            <% if current_user.is_any_of? :head, :diretor, :admin %>
              <li><a href="/approvals">Approve Leave Applications</a></li>
              <li><a href="/users">View Users</a></li>
              <li><a href="/leave_types/new">Add Leave Type</a></li>
            <% end %>
            <li><a href="/users/sign_out" data-method="delete" class="alert button">Log Out</a></li>
          </ul>
        </div>
      </div>
    </header>
    <br>
    <div class="row">
      <div class="large-12 columns">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Department</th>
              <th>Email</th>
              <th>Annual Leave Days</th>
              <th>Sick Leave Days</th>
              <th>Unpaid Leave Days</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <%= simple_form_for @user do |f| %>
                <td><%= f.input :name %></td>
                <td><%= f.input :department %></td>
                <td><%= f.input :email %></td>
                <td><%= f.input :annual_days, as: :integer %></td>
                <td><%= f.input :sick_days, as: :integer %></td>
                <td><%= f.input :unpaid_days, as: :integer %></td>
                <td><%= f.submit %></td>
              <% end %>
            </tr>
          </tbody>
        </table>

        <a href="/users" class="button">Back</a>
      </div>
    </div>
  </body>
</html>
