<div class="row">
  <div class="large-6 large-offset-3 columns">
    <% if @user.errors.any? %>
      <div class="callout alert" id="error_explanation">
        <h4>
          <%= pluralize(@user.errors.count, "error") %> prohibited this application from being saved:
        </h4>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= simple_form_for :user, url: users_path do |f| %>
      <%= f.input :name %>
      <%= f.input :department, collection: User.departments.keys, include_blank: false %>
      <%= f.input :region, collection: User.regions.keys, include_blank: false, as: :radio_buttons %>
      <%= f.input :roles, collection: User.valid_roles, as: :check_boxes %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
