<div class="row">
  <div class="large-10 large-offset-1 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Department</th>
          <th>Region</th>
          <th>Email</th>
          <% LeaveType.all.collect do |l| %>
            <th><%= "#{l.name} Leave Days" %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.id %></td>
          <td><%= @user.name %></td>
          <td><%= @user.department %></td>
          <td><%= @user.region %></td>
          <td><%= @user.email %></td>
          <% LeaveType.all.each do |l| %>
            <td>
              <% if @user.records.find_by_leave_type_id(l.id)  %>
                <%= @user.records.find_by_leave_type_id(l.id).days %>
              <% else %>
                <%= "nil" %>
              <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <a href="/users" class="button">Back</a>
  </div>
</div>
