<table>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Department</td>
    <td>Email</td>
    <td>Leave Days</td>
  </tr>
  <tr>
    <td><%= @user.id %></td>
    <td><%= @user.name %></td>
    <td><%= @user.department%></td>
    <td><%= @user.email %></td>
    <td><%= @user.leave_days %></td>
  </tr>
</table>

<%= link_to 'Back', users_path %>
