<div class="row">
  <div class="large-10 large-offset-1 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Department</th>
          <th>Region</th>
          <th>Email</th>
          <th>Annual Days</th>
          <th>Sick Days</th>
          <th>Unpaid Days</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.id %></td>
          <td><%= @user.name %></td>
          <td><%= @user.department %></td>
          <td><%= @user.region %></td>
          <td><%= @user.email %></td>
          <td><%= @user.annual_days %></td>
          <td><%= @user.sick_days %></td>
          <td><%= @user.unpaid_days %></td>
        </tr>
      </tbody>
    </table>

    <a href="/users" class="button">Back</a>
  </div>
</div>
