<div class="row">
  <div class="large-7 columns">
    <h4>Calendar</h4>
    <%= month_calendar events: @leaves do |date, leave_applications| %>
      <%= date.mday %>

      <% if !date.saturday? && !date.sunday? %>
        <% leave_applications.each do |leave_application| %>
          <div>
            <%= leave_application.user.name %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="large-4 large-offset-1 columns">
    <% if @leave_application.errors.any? %>
      <div class="callout alert" id="error_explanation">
        <h4>
          <%= pluralize(@leave_application.errors.count, "error") %> prohibited this application from being saved:
        </h4>
        <ul>
          <% @leave_application.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% current_user.records.each do |r| %>
      <h6>
        <strong><%= "#{pluralize(r.days, 'day')}" %></strong>
        <%= " of #{r.leave_type.name.downcase} leave available" %>
      </h6>
    <% end %>

    <%= simple_form_for @leave_application do |f| %>
      <%= f.input :leave_type_id, collection: current_user.records.collect{|r| ["#{r.leave_type.name}", r.leave_type_id]}, include_blank: false %>
      <%= f.input :start_date, as: :date %>
      <%= f.input :end_date, as: :date %>
      <%= f.input :leave_duration, collection: LeaveApplication.leave_durations.keys, include_blank: false %>
      <%= f.input :reason, as: :text, placeholder: 'Enter a brief description', error: false %>
      <%= f.input :attachment, as: :file, required: false %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
