<div class="row">
  <div class="large-10 large-offset-1 columns">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Leave Type</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Leave Duration</th>
          <th>Reason</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @leave_application.created_at.strftime('%d/%m') %></td>
          <td><%= @leave_application.user.name %></td>
          <td><%= @leave_application.leave_type.name %></td>
          <td><%= @leave_application.start_date.strftime('%d/%m') %></td>
          <td><%= @leave_application.end_date.strftime('%d/%m') %></td>
          <td><%= @leave_application.leave_duration %></td>
          <td><%= @leave_application.reason %></td>
          <td>
            <%= simple_form_for @leave_application do |f| %>
              <%= f.input :status, collection: LeaveApplication.statuses.keys, include_blank: false %>
              <%= f.submit %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

    <a href="/approvals" class="button">Back</a>
  </div>
</div>
