<html>
  <head>
  </head>

  <body>
    <header>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">Saltyleave</li>
            <li class="menu-text">Current User: <%= current_user.name %></li>
          </ul>
        </div>

        <div class="top-bar-right">
          <ul class="menu">
            <li class="menu-text">View Leave Applications</li>
            <li><a href="/leave_applications/new">Apply for Leave</a></li>
            <% if current_user.is_any_of? :head, :diretor, :admin %>
              <li><a href="/approvals">Approve Leave Applications</a></li>
              <li><a href="/users">View Users</a></li>
              <li><a href="/leave_types/new">Add Leave Type</a></li>
            <% end %>
            <li><a href="/users/sign_out" data-method="delete" class="alert button">Log Out</a></li>
          </ul>
          </ul>
        </div>
      </div>
    </header>
    <br>
    <div class="row">
      <div class="large-10 large-centered columns">
        <table>
          <caption>Your Leave Applications</caption>
          <thead>
            <tr>
              <th>Date</th>
              <th>Leave Type</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Leave Duration</th>
              <th>Reason</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <% @leave_applications.each do |leave_application| %>
              <% if leave_application.user_id == current_user.id %>
                <tr>
                  <td><%= leave_application.created_at.strftime('%d/%m') %></td>
                  <td><%= leave_application.leave_type.name %></td>
                  <td><%= leave_application.start_date.strftime('%d/%m') %></td>
                  <td><%= leave_application.end_date.strftime('%d/%m') %></td>
                  <td><%= leave_application.leave_duration %></td>
                  <td><%= leave_application.reason %></td>
                  <td><%= leave_application.status %></td>
                  <% if leave_application.status == "pending" %>
                    <td><%= link_to 'Destroy', leave_application_path(leave_application), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <% if current_user.is_director? == false %>
        <div class="columns">
          <table>
            <caption>Leave Applications in Your Department</caption>
            <thead>
              <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Leave Duration</th>
                <th>Reason</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <% @leave_applications.each do |leave_application| %>
                <% if leave_application.user_id != current_user.id %>
                  <tr>
                    <td><%= leave_application.created_at.strftime('%d/%m') %></td>
                    <td><%= leave_application.user.name %></td>
                    <td><%= leave_application.leave_type.name %></td>
                    <td><%= leave_application.start_date.strftime('%d/%m') %></td>
                    <td><%= leave_application.end_date.strftime('%d/%m') %></td>
                    <td><%= leave_application.leave_duration %></td>
                    <td><%= leave_application.reason %></td>
                    <td><%= leave_application.status %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </body>
</html>
